html {
	font: 62.5%/1 "Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
	background-color: #242728;

	-webkit-background-size: 5px 5px;
	-moz-background-size: 5px 5px;
	background-size: 5px 5px;

	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 50%, transparent 50%, transparent 100%);
	background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 50%, transparent 50%, transparent 100%);
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 50%, transparent 50%, transparent 100%);
	background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 50%, transparent 50%, transparent 100%);
	background-image: linear-gradient(left, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 50%, transparent 50%, transparent 100%);
}

body{
	margin:0;
	padding:0;
}

#wrap {
	width: 420px;
	margin: 50px auto;
	text-align: center;
}

input[type="range"] {
	-webkit-appearance: none;
	background-color: black;
	height: 2px;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	position: relative;
	top: -1px;
	z-index: 1;
	width: 11px;
	height: 11px;

	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb));
}

input[type="range"]:hover ~ #rangevalue,input[type="range"]:active ~ #rangevalue {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	top: -70px;
}

/* Tool Tip */
#rangevalue {
	display: block;
	color: #fff;
	margin: 20px 0;
	position: relative;
	left: 44.5%;
	padding: 6px 12px;
	border: 1px solid black;

	-webkit-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2), 0px 2px 4px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2), 0px 2px 4px 0px rgba(0,0,0,0.4);
	box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2), 0px 2px 4px 0px rgba(0,0,0,0.4);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222931), color-stop(100%,#181D21));

	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	width: 18px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	top: -65px;
}

/* Ribbon */
h1.ribbon {
	position: relative;
	width: 300px;
	font-size: 16px;
	margin: 20px 0 80px 0;
	display: inline-block;
	font-family: sans-serif;
	padding: 2px 0;
	text-align: center;
	background: #d64b4b;
	background: -webkit-gradient(linear, left top, left bottom, from(#d64b4b), to(#ab2c2c));

	background: -webkit-linear-gradient(top, #d64b4b, #ab2c2c);
	background: -moz-linear-gradient(top, #d64b4b, #ab2c2c);
	background: -o-linear-gradient(top, #d64b4b, #ab2c2c);
	background: -ms-linear-gradient(top, #d64b4b, #ab2c2c);
	background: linear-gradient(top, #d64b4b, #ab2c2c);
	-image filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr="#d64b4b", EndColorStr="#ab2c2c");

	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
}

h1.ribbon:before,h1.ribbon:after {
	content: "";
	position: absolute;
	display: block;
	bottom: -1em;
	border: 1.5em solid #c23a3a;
	z-index: -1;
}

h1.ribbon:before {
	left: -2em;
	border-right-width: 1.5em;
	border-left-color: transparent;

	-webkit-box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
	-moz-box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
	box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
}

h1.ribbon:after {
	right: -2em;
	border-left-width: 1.5em;
	border-right-color: transparent;

	-webkit-box-shadow: rgba(0, 0, 0, 0.4) -1px 1px 1px;
	-moz-box-shadow: rgba(0, 0, 0, 0.4) -1px 1px 1px;
	box-shadow: rgba(0, 0, 0, 0.4) -1px 1px 1px;
}

h1.ribbon > strong {
	display: inherit;
	min-width: 100px;
	margin: 0;
	padding: 15px 35px;
	color: #801111;
	text-shadow: #d65c5c 0 1px 0;
	border-top: 1px dashed rgba(0, 0, 0, 0.2);
	border-bottom: 1px dashed rgba(0, 0, 0, 0.2);

	-webkit-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.15), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 1px 1px rgba(255, 255, 255, 0.1), 0px -1px 1px rgba(255, 255, 255, 0.15);
	-moz-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.15), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 1px 1px rgba(255, 255, 255, 0.1), 0px -1px 1px rgba(255, 255, 255, 0.15);
	box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.15), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 1px 1px rgba(255, 255, 255, 0.1), 0px -1px 1px rgba(255, 255, 255, 0.15);
}

h1.ribbon > strong:before,h1.ribbon > strong:after {
	content: "";
	border-color: #871616 transparent transparent transparent;
	position: absolute;
	border-style: solid;
	bottom: -1em;
}

h1.ribbon > strong:before {
	left: 0;
	border-width: 1em 0 0 1em;
}

h1.ribbon > strong:after {
	right: 0;
	border-width: 1em 1em 0 0;
}

/* Button Class */
.button:hover {
	background: #666666;
}

.button {
	outline: 0;
	padding: 5px;
	margin: 10px 0 60px 0;
	display: block;
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 1px #1F272B;
	border: 1px solid #1C252B;
	font: 13px Arial;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #232B30;

	background: -webkit-linear-gradient(top, #3D4850 3%, #313D45 4%, #232B30 100%);
	background: -moz-linear-gradient(top, #3D4850 3%, #313D45 4%, #232B30 100%);
	background: -o-linear-gradient(top, #3D4850 3%, #313D45 4%, #232B30 100%);
	background: -ms-linear-gradient(top, #3D4850 3%, #313D45 4%, #232B30 100%);
	background: linear-gradient(top, #3D4850 3%, #313D45 4%, #232B30 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#3D4850), color-stop(4%,#313D45), color-stop(100%,#232B30));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3D4850', endColorstr='#232B30',GradientType=0 );

	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	cursor: default;
	width: 280px;
	position: relative;
	left: 66px;
}


/* Sticky message */
#footer{
	position:fixed;
	bottom:0;
	height:30px;
	width:100%;
	padding: 7px 0;
	background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45);
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

#footer p{
	text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
	color: #333;
	font: bold 18px Sans-Serif;
	margin:0;
	padding:0;
	text-align:center;
}


#credits{
	position:fixed;
	bottom:50px;
	color:#fff;
	padding:10px;
	margin:0;
	right:0;
	font-size:12px;
}

#credits a{
	color:#fff;
}

*::-moz-selection {
	background: none repeat scroll 0 0 #fff;
	color: #000000;
}

*::-webkit-selection {
	background: none repeat scroll 0 0 #fff;
	color: #000000;
}
